{% block form_row %}
    <div class="row mb-3">
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
            <h6 class="mb-0">{{ label }}</h6>
        </div>
        <div class="col-sm-8 text-secondary">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}