body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 25px;
    z-index: 100;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    background-color: #555;
    opacity: 0.7;

}

.floating-btn:hover {
    background-color: #777;
}

.floating-btn img {
    width: 30px;
    height: 30px;
}