.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h2{
    text-align:center;
}

.form-container-create
{
    width: 100%;
    padding : 10px;
}

.form-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-container-global {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    width: 50%;
    padding : 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.form-row label {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    margin-left: 8px;
    font-weight: bold;
}

.form-row input,
.form-row select {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc;
}

.form-container-creerLieu {
    width: 100%;
}

.form-creerLieu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-label-creerLieu {
    width: 100%;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-lieu {
    width: 92%;
}

.form-row .form-errors {
    color: red;
    margin-left: 5px;
    text-align: left;
}

.btn-creer {
    text-decoration: none;
    outline-width: medium;
    color: black;
    border: 1px solid #ccc;
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 30px;
    width: 10%;
}

#btn-refresh {
    text-decoration : none;
    outline-width: medium;
    color:black;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px;
    padding-left: 13px;
    padding-right:13px;
    margin-top: 30px;
    width:10%;
}

button.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control{
    min-height: 45px;
    max-height: 45px;
}

#map {
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px 8px #FFFFFF;
}

