<nav class="navbar bg-dark">
    <div class="container-fluid">
{#        <a class="navbar-brand text-white" href="{{ path('main_home') }}"><img class="logo"#}
{#                                                                               src="{{ asset('images/getbukkitwhite.svg') }}"#}
{#                                                                               alt="image">Bucket-List</a>#}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
        </ul>
    </div>
</nav>